
class Config:

  total_number_leds = 32

  polling_interval_secs = 3

  platform = 'travis'
  job_defaults = dict(  num_leds = 7, url = 'https://api.travis-ci.org/repos/jwolstenholme/pimp-my-ci' )

  # The build jobs to monitor - defaults are overridden
  jobs = [
    dict( name = 'test1',
          success = 'Burns_Excellent',
          failure = 'Sheeeeeiiiit' ),

    dict( name = 'test2',
          url = 'https://api.travis-ci.org/repos/rhok-melbourne/witnesskingtides-ios',
          success = None,
          failure = 'Sheeeeeiiiit' ),

    dict( name = 'test3',
          url = 'https://api.travis-ci.org/repos/DiUS/pact-jvm',
          success = 'Burns_Excellent',
          failure = None ),

    dict( name = 'test4',
          url = 'https://api.travis-ci.org/repos/DiUS/java-faker' )
  ]
